In [10]:
# Import data from sample files, modify, and export to new table

In [11]:
import pandas as pd
import os.path

In [12]:
year = '2019'
insample = os.path.join( os.getcwd(), 'samples\\variables.csv' )
outname = os.path.join( os.getcwd(), '..', year, 'variables.csv' )

In [23]:
df = pd.read_csv(insample)

In [24]:
df

,VariableCode,VariableName,Speciation,VariableUnitsName,SampleMedium,ValueType,IsRegular,TimeSupport,TimeUnitsName,DataType,GeneralCategory,NoDataValue
0,GPM_2min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,2,minute,Continuous,Hydrology,-9999
1,GPM_5min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,5,minute,Continuous,Hydrology,-9999
2,GPM_15min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,15,minute,Continuous,Hydrology,-9999

In [25]:
# Modify the sample table.  In this case, I want to modify the first record to reflect 8 minute sample period
df.at[0, 'VariableCode'] = "GPM_8min"
df.at[0, 'TimeSupport'] = "8"
df

,VariableCode,VariableName,Speciation,VariableUnitsName,SampleMedium,ValueType,IsRegular,TimeSupport,TimeUnitsName,DataType,GeneralCategory,NoDataValue
0,GPM_8min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,8,minute,Continuous,Hydrology,-9999
1,GPM_5min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,5,minute,Continuous,Hydrology,-9999
2,GPM_15min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,15,minute,Continuous,Hydrology,-9999

In [26]:
# update the second entry for a 60 min variable
df.at[2, 'VariableCode'] = "GPM_60min"
df.at[2, 'TimeSupport'] = 60

In [27]:
# Duplicate a row and modify to include a 15 second variable
df = df.append(df.loc[0]).reset_index()
df.at[3, 'VariableCode'] = "GPM_15sec"
df.at[3, 'TimeSupport'] = 15
df.at[3, 'TimeUnitsName'] = 'second'

In [28]:
df

,index,VariableCode,VariableName,Speciation,VariableUnitsName,SampleMedium,ValueType,IsRegular,TimeSupport,TimeUnitsName,DataType,GeneralCategory,NoDataValue
0,0,GPM_8min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,8,minute,Continuous,Hydrology,-9999
1,1,GPM_5min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,5,minute,Continuous,Hydrology,-9999
2,2,GPM_60min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,60,minute,Continuous,Hydrology,-9999
3,0,GPM_15sec,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,15,second,Continuous,Hydrology,-9999

In [29]:
# Save as a new text file
df.to_csv(outname, encoding='utf-8', index=False)