In [1]:
# Import data from sample files, modify, and export to new table

In [1]:
import pandas as pd
import os.path

In [2]:
year = '2019'
insample = os.path.join( os.getcwd(), 'samples\\methods.csv' )
outname = os.path.join( os.getcwd(), '..', year, 'methods.csv' )

In [3]:
df = pd.read_csv(insample)

In [4]:
df

,MethodCode,MethodDescription,MethodLink
0,AG3000_DL,Measured with a 12 inch Seametrics AG3000 in-l...,http://www.seametrics.com/taxonomy/term/147
1,AG3000_EM,Measured with a 12 inch Seametrics AG3000 in-l...,http://www.seametrics.com/taxonomy/term/147
2,EX250_WE,Measured with a Seametrics Ex250 insertion ele...,http://www.seametrics.com/product/detail?sku=E...
3,IS203_EM,Measured with a Sierra Instruments InnovaSonic...,http://www.sierrainstruments.com/products/203p...
4,NaN,NaN,NaN
5,NaN,NaN,NaN

In [5]:
# Modify the sample table.  In this case, I want to use the 0,1,and 3 rows
df = df.drop(df.index[[2,4,5]])
df

,MethodCode,MethodDescription,MethodLink
0,AG3000_DL,Measured with a 12 inch Seametrics AG3000 in-l...,http://www.seametrics.com/taxonomy/term/147
1,AG3000_EM,Measured with a 12 inch Seametrics AG3000 in-l...,http://www.seametrics.com/taxonomy/term/147
3,IS203_EM,Measured with a Sierra Instruments InnovaSonic...,http://www.sierrainstruments.com/products/203p...

In [6]:
# Save as a new text file
df.to_csv(outname, encoding='utf-8', index=False)