In [1]:
# Import data from sample files, modify, and export to new table

In [1]:
import pandas as pd
import os.path

In [2]:
year = '2019'
insample = os.path.join( os.getcwd(), 'samples\\variables.csv' )
outname = os.path.join( os.getcwd(), '..', year, 'variables.csv' )

In [3]:
df = pd.read_csv(insample)

In [4]:
df

,VariableCode,VariableName,Speciation,VariableUnitsName,SampleMedium,ValueType,IsRegular,TimeSupport,TimeUnitsName,DataType,GeneralCategory,NoDataValue
0,GPM_2min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,2,minute,Continuous,Hydrology,-9999
1,GPM_5min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,5,minute,Continuous,Hydrology,-9999
2,GPM_15min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,15,minute,Continuous,Hydrology,-9999

In [5]:
# Modify the sample table.  In this case, I want to use the row at index 1 so I will drop the others
df = df.drop(df.index[[0]])
df

,VariableCode,VariableName,Speciation,VariableUnitsName,SampleMedium,ValueType,IsRegular,TimeSupport,TimeUnitsName,DataType,GeneralCategory,NoDataValue
1,GPM_5min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,5,minute,Continuous,Hydrology,-9999
2,GPM_15min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,15,minute,Continuous,Hydrology,-9999

In [6]:
# update the second entry for a 60 min variable
df.at[2, 'VariableCode'] = "GPM_60min"
df.at[2, 'TimeSupport'] = 60

In [7]:
df

,VariableCode,VariableName,Speciation,VariableUnitsName,SampleMedium,ValueType,IsRegular,TimeSupport,TimeUnitsName,DataType,GeneralCategory,NoDataValue
1,GPM_5min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,5,minute,Continuous,Hydrology,-9999
2,GPM_60min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,60,minute,Continuous,Hydrology,-9999

In [8]:
# Save as a new text file
df.to_csv(outname, encoding='utf-8', index=False)