In [ ]:
# Import data from sample files, modify, and export to new table

In [1]:
import pandas as pd
import os.path

In [2]:
insample = os.path.join( os.getcwd(), '..', 'samples\\sites.csv' )
outname = os.path.join( os.getcwd(), '..', 'sites.csv' )

In [3]:
df = pd.read_csv(insample)

In [4]:
df

,SiteCode,SiteName,Latitude,Longitude,LatLongDatumSRSName,Elevation_m,VerticalDatum,LocalX,LocalY,LocalProjectionSRSName,PosAccuracy_m,State,County,Comments,SiteType
0,Siphon7,StatenX experimental station at Siphon 7 on St...,38.1698,-121.527375,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Site where multiple water meters are installed...,Diversion

In [5]:
# Modify the sample table.  In this case, add in 5 new sites
df = df.drop(df.index[[0,2]])
df

,VariableCode,VariableName,Speciation,VariableUnitsName,SampleMedium,ValueType,IsRegular,TimeSupport,TimeUnitsName,DataType,GeneralCategory,NoDataValue
1,GPM_5min,Discharge,Not Applicable,gallons per minute,Surface water,Field Observation,True,5,minute,Continuous,Hydrology,-9999

In [8]:
# Save as a new text file
df.to_csv(outname, encoding='utf-8', index=False)